.content-input input,
.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select {
    max-width: 377px;
    position: relative;
    left: -0.8rem;

}

.content-select select {
    display: inline-block;
    width: 100%;
    padding: 11px 20px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    border-radius: 12px;
    position: relative;
    border-radius: 20px;
    transition: all 0.25s ease;
    border-radius: 20px;
}

.content-select select:hover {
    background: #fdfdfd;
}

.content-select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 3px solid #8f9391;
    border-bottom: 3px solid #8f9391;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.content-select:hover i {
    margin-top: 3px;
}