/* ************* NAV ************* */
.img-logoGiros {
    padding-left: 1rem;
}

/* **** Seccion 4 */

.table1 thead {
    border-collapse: collapse;
    border-radius: 40px 40px 0px 0px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 3px #fff;
    /* this draws the table border  */
    background-color: rgba(255, 255, 255, 0.6);
}

.table1 tbody {
    border-collapse: collapse;
    border-radius: 0px 0px 40px 40px;
    border-style: hidden;
    /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 3px #fff;
    /* this draws the table border  */
}

.table1, td, th {
    border: 3px solid white;
}

/* **************Section Cinco */
.btn-chat {
    background: #ffffff;
    /* color: rgb(41, 40, 40); */
    border-radius: 5rem;
    padding: 0.5rem 4rem;
    border: 1px solid #ffffff;

}

.btn-chat:hover {
    background: white;
    color: #05859A;
    /*  border: 1px solid #f8f8f8; */
}

.btn-chatPosition {
    position: absolute;
    top: 0rem;
    left: 13rem;
    width: 721px;
    height: 120px;
}



.rectangulo {
    width: 350px;
    height: 300px;
    border: 4px solid #fdfbfbf5;
    background: rgb(229 221 221 / 19%);
    border-radius: 26px;
}

.contenedor1 {
    width: 350px;
    height: 350px;
    border: 4px solid #fdfbfbf5;
    background: rgba(250, 248, 248, 0.301);
    border-radius: 26px;
    top: 90px;
}

.contenedor2 {
    width: 620px;
    height: 380px;
    border: 4px solid #fdfbfbf5;
    background: rgba(250, 248, 248, 0.301);
    border-radius: 26px;
    top: 0px;
}

.contenedor2 {
    width: 796px;
    height: 393px;
    border: 4px solid #fdfbfbf5;
    background: rgba(250, 248, 248, 0.301);
    border-radius: 26px;
    top: 0px;
    position: relative;
    left: -5rem;
}


.contenedorTable {
    border: 4px solid #fdfbfbf5;
    background: rgba(250, 248, 248, 0.301);
    border-radius: 26px;
    top: 0px;
    border-collapse: separate;
    border-spacing: 10px;
    -moz-border-radius: 20px;
    padding: 2px;
}

.table_sombra {
    border-collapse: separate;
    border-spacing: 20px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.392);
}


.bg-amarillo {
    background-color: #FFDD00;
}

.bg-sectionOne {
    height: 42rem;
}

.bg-sectionthree {
    height: 50rem;
}

/* .bg-sectionFour {
    height: 42rem;
} */

.bg-sectionFive {
    height: 30rem;
}

.bg-vigilado {
    background-image: url('../images/vigilado.png');
    position: absolute;
    width: 1rem;
    height: 7rem;
    background-repeat: no-repeat;
    left: .5rem;
    top: 50%;
    margin-top: -37px;
}

.bl-chat a {
    text-decoration: none;
}

.bl-contacto .img-billete {
    position: absolute;
    top: -12rem;
    left: -10rem;
}

.bl-botonchat {
    background: #46C153;
    width: 39rem;
    border-radius: 8rem;
    padding: 0rem 3rem 3rem 3rem;
    text-align: center;
    line-height: normal;
    margin: 0 auto;
    font-size: 41px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.bl-botonchat .img-chat {
    margin-top: -11rem;
}

.bl-gracias .img-regalo3 {
    position: absolute;
    right: -5rem;
    top: 45rem;
}

.bl-gracias .img-feriado1 {
    position: absolute;
    top: 28rem;
    left: -2rem;
}

.bl-gracias .img-feriado2 {
    position: absolute;
    top: 4rem;
    left: -3rem;
}

.bl-gracias .img-feriado3 {
    position: absolute;
    right: -4rem;
    bottom: 9rem;
}

.bl-gracias .img-feriado4 {
    position: absolute;
    right: 0;
    top: 36rem;
}

.bl-gracias .img-feriado5 {
    position: absolute;
    left: 0;
    top: 38rem;
}

.bl-gracias .img-regalo4 {
    position: absolute;
    left: -1rem;
    bottom: 9rem;
}

.bl-item--num {
    background: white;
    border-radius: 50%;
    padding: 7px 14px;
    font-size: 2rem;
    color: #ff1c00;
}

.bl-nubes--rojas {
    position: relative;
    margin-top: 0rem;
}

.bl-nubes--rojas .img-billete2 {
    position: absolute;
    right: 0;
    top: -19rem;
}

.bl-nubes--rojas .img-billete3 {
    position: absolute;
    left: -9rem;
    top: 2rem;
}

.bl-nubes--azules {
    position: relative;
    margin-top: 0rem;
}

.bl-nubes--azules .img-billete5 {
    position: absolute;
    right: -6rem;
    top: -11rem;
}

.bl-nubes--azules .img-regalo2 {
    position: absolute;
    top: -10rem;
    left: 16rem;
}

.img-contenedor {
    position: absolute;
    top: 5.8rem;
    left: 0.3rem;
    width: 680px;
}

.img-contenedor-sectionthree {
    position: absolute;
    top: 21rem;
    left: 0.3rem;
    width: 680px;
}

.img-fondo-sectionOne {
    position: absolute;
}

.img-fondo-sectiontwo {
    position: absolute;
}

.text-Tarjeta {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.depthBack {
    /*  display: blok; */
    /* padding: 50px; */
    color: rgba(0, 0, 0, 0.836);
    font: bold 7em Arial, sans-serif;
    position: relative;
    line-height: 3rem;
}

.depthBack:before {
    content: attr(title);
    color: transparent;
    position: absolute;
    text-shadow: 5px 9px 4px rgba(255, 251, 251, 0.123);
}

.depthblue {
    /*  display: blok; */
    /* padding: 50px; */
    color: #008ca0;

    position: relative;
    line-height: 3rem;
}

.depthblue:before {
    content: attr(title);
    color: transparent;
    position: absolute;
    text-shadow: 5px 9px 4px rgba(255, 251, 251, 0.123);

}

.depthblueSI {
    color: #008ca0;
    position: relative;
    line-height: 3rem;
}

.depthblueSI:before {
    content: attr(title);
    color: transparent;
    position: absolute;
    text-shadow: 5px 9px 4px rgba(255, 251, 251, 0.123);
}

.img-BtnSi {
    position: absolute;
    top: 23.8rem;
    left: 4rem;
    width: 250px;
}

.img-BtnNo {
    position: absolute;
    top: 23.8rem;
    left: 20rem;
    width: 250px;
}

.positionSigno {
    position: absolute;
    top: -1.2rem;
    left: 1rem;
    transform: rotate(6deg);
}

.positionSignoOut {
    position: absolute;
    top: 9rem;
    left: 31.5rem;
    transform: rotate(15deg);
}

/* .img-mano {
    position: absolute;
    top: 2rem;
    left: -2rem;
    width: 620px;
} */

.img-icono-mano {
    position: absolute;
    top: 9rem;
    left: 52rem;
    width: 120px;
}

.img-chat {
    position: absolute;
    top: 0.5rem;
    left: 9rem;
    width: 870px;
}

.img-tarjeta2 {
    position: absolute;
    top: 14rem;
    left: -6.5rem;
    width: 620px;
}

.img-tarjeta {
    position: absolute;
    top: 4rem;
    left: -10.5rem;
    /*  width: 634px; */
}

.bg-position {
    position: relative;
    top: 2rem;
    /*  left: -6.5rem; */
}

.img-opciones {
    position: relative;
    top: 13rem;
    left: 30rem;
    width: 400px;
}

.botones {
    position: absolute;
    /* top: 18rem;
    left: 30rem;
    width: 400px; */
}



.bl-registrar .img-billete1 {
    position: absolute;
    top: 15rem;
    left: 19rem;
}

.bl-registrar .row {
    position: relative;
    z-index: 1;
}

.bl-registro .img-regalo1 {
    position: absolute;
    z-index: 1;
    top: -57px;
    right: 33px;
    width: 169px;
}

.bl-registro .img-billete2 {
    position: absolute;
    left: -7rem;
    bottom: 2rem;
}

.bl-registro .img-billete7 {
    position: absolute;
    bottom: -2rem;
    right: 2rem;
}

.bl-gracias {
    background: white;
    margin: 3rem 0rem;
    padding: 1.5rem;
    border-radius: 5rem;
    box-shadow: -1px 16px 9px 1px #80808066;
}

.bl-registro--preguntas {
    width: 45%;
    margin: 0 auto;
}

.bl-registro .bl-registro--preguntas label {
    color: #464646;
    font-family: 'Museo500';
    font-size: 1.25rem;
}

.bl-registro .bl-registro--preguntas .form-check-input {
    margin-top: 8px
}


.bl-registrar {
    padding-bottom: 8rem;
}

.bl-registro {
    border: 1px solid #00BFA8;
    border-radius: 3rem;
    padding: 3rem 3.5rem 5rem;
    background: white;
    box-shadow: -1px 16px 9px 1px #80808038;
}

.bl-registro form .form-group {
    border-bottom: 1px solid #333;
    position: relative;
}


.bl-registro form .form-group label {
    position: absolute;
    top: .5rem;
}

.bl-registro form label {
    display: inline-block;
    color: #00BFA8;
}

.bl-registro form .form-control {
    display: inline-block;
    width: 100%;
    border: 0;
    padding-left: 6rem;
}

.bl-registro form select.form-control {
    padding-left: 0.5rem;
}

.bl-registro form .form-control:focus {
    color: #BDBDBD;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.bl-registro form .form-group .label-select {
    position: relative;
    padding-right: 2rem;
    padding-bottom: .7rem;
}

.bl-registro form .form-group--select select {
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 0 1.5rem;
    height: 2rem;
    width: 68%;
    margin-bottom: -.5rem;
}

.bl-registro form .form-group .form-p-documento {
    padding-left: 13rem;
}

.btn-Si {

    background: #ffffff;
    /* color: rgb(41, 40, 40); */
    padding: 0.5rem 4rem;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
    border-radius: 40px;
}



.btn-Si:hover, .btn-Si:focus, .btn-Si:active {
    background: #feda00;
}

.btn-Registrar {
    background: #008ca0;
    color: #ffdf00;
    border-radius: 5rem;
    padding: 0rem 2rem;
    border: 1px solid #008ca0;
    height: 45px;
    width: 200px;
}

.btn-Registrar:hover {
    background: #008ca0;
    color: #ffdf00;
}

/*  */
/* ************ SECCION UNO *******************/

.positionbtnSi {
    position: absolute;
    top: 0rem;
    left: 7rem;
    width: 200px;
    height: 70px;
}

.positionbtnNo {
    position: absolute;
    top: 0rem;
    left: 2rem;
    width: 200px;
    height: 70px;
}



.btn-No {
    background: #feda00;
    color: #feda00;
    border-radius: 5rem;
    padding: 0.5rem 4rem;
    border: 1px solid #feda00;

}

.btn-No:hover {
    background: #feda00;
    color: #feda00;
    border: 1px solid #feda00;
}

/* ************ TERCERA SECCION *******************/

.inputRegistrar {
    border-radius: 5rem;
    height: 47px;
    box-shadow: 0px 0px 0px 1px #9594947d inset;
    box-shadow: 1px 2px 5px 0px #a8a4a478;
    border-color: rgb(180 179 177 / 7%);
    border-radius: 20px;
    box-shadow: inset 0px 1px 3px #5653546e;
}



.btn_varios {
    display: inline-block;
    width: 50%;
    padding: 1px;

    background: rgb(221 228 229);
    width: 80%;
    text-align: center;
    color: #fbf7f7;
    font-size: 30px;
    font-weight: bold;
    /* transition: all 0.9s ease; */

    border-radius: 45px 45px 45px;
    border-bottom-right-radius: 10px;
}


.btn-registro {
    background: #00BFA8;
    color: white;
    border-radius: 5rem;
    padding: 0.5rem 4rem;
    border: 1px solid #00BFA8;
}

.btn-registro:hover {
    background: white;
    color: #00BFA8;
    border: 1px solid #00BFA8;
}


header {
    height: 120px;
    padding-top: 1rem;
}

.img-nube--roja {
    margin-top: -36rem;
}

.img-nube--azul {
    margin-top: -35rem;
}


.line-normal {
    line-height: normal;
}


.line-normal3 {
    line-height: 3rem;
}

.line-normal4ta {
    line-height: 1.2rem;
    margin: 25px;
}

.line-normal5ta {
    line-height: 1.2rem;
}

.list-metas {
    list-style: none;
    padding-left: 0rem;
}

.list-metas li {
    border-bottom: 1px solid #333;
    font-size: 1.25rem;
    padding-bottom: .7rem;
    margin-bottom: 2rem;
}

.list-metas .item-der {
    width: 80%;
    display: inline-block;
    font-family: 'MUSEO500';
    padding-left: .5rem;
}

.list-num {
    list-style: none;
    padding-left: 0rem;
}

.list-num li {
    margin-bottom: 2rem;
}

.list-num li .item {
    display: inline-block;
    background: red;
    border-radius: 50%;
    text-align: center;
    width: 2.5rem;
    height: 2.3rem;
    color: #F3E14B;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.list-num li .item-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    font-family: 'Museo500';
    font-size: 1.25rem;
    line-height: normal
}

.list-num li .item-text span {
    font-family: 'Museo900'
}


.txt-right {
    text-align: right;
    color: #464646;
}

.text-gris {
    color: #333;
}

.text-azul {
    color: #008BA1;
}

.text-azulOsc {
    color: #05859A;
}

.text-col-negro {
    color: #414344;
}

.text-verdeCorp {
    color: #428893;
}

.text-rojo {
    color: #E83C3C;
}

.text-negro {
    color: #333;
}

.text-gris {
    color: #464646;
}

.text-green {
    color: #0aaf93;
}


.text-fontM {
    font-family: "Museo900";
}

.text-font700 {
    font-family: "Museo700";
}

.text-font500 {
    font-family: "Museo500";
}

.text-font100 {
    font-family: "Museo100";
}

.text-font300 {
    font-family: "Museo300";
}


/* 56pt */
.text-vlg {
    font-size: 3.5rem;
}

.text-signo {
    font-size: 7rem;
}


/* 70pt */
.text-vii {
    font-size: 5rem;
}

.text-vi2 {
    font-size: 4rem;
}

/* 60pt */
.text-vi {
    font-size: 3.5rem;
}

/* 40pt */
.text-iv {
    font-size: 3.1rem;
}

/* 33pt */
.text-lgs {
    font-size: 2.8rem;
}

/* 30pt */
.text-lg {
    font-size: 2.4rem;
}

.text-4taSection {
    font-size: 2.0rem;
}

/* F */
.text-xxs {
    font-size: 1.62rem;
}

/* F */
.text-xx {
    font-size: 1.13rem;
}

/* 12 */
.text-x {
    font-size: .75rem;
}

/*  10 */
.text-s {
    font-size: .65rem;
}

p.posit {
    word-spacing: 0px;
}

@font-face {
    font-family: 'Museo100';
    src: url('../fonts/MuseoSans-100.otf');
}

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/MuseoSans-300.otf');
}

@font-face {
    font-family: 'Museo900';
    src: url('../fonts/MuseoSans-900.otf');
}


@font-face {
    font-family: 'Museo700';
    src: url('../fonts/MuseoSans-700.otf');
}


@font-face {
    font-family: 'Museo500';
    src: url('../fonts/MuseoSans-500.otf');
}

@media (max-width:1920px) {
    .bg-sectionFour {
        background-image: url('../images/sectionFor/Sección_4.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 53rem;
        margin-top: -7rem;
    }
    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }


    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }

    .contenedor1 {
        width: 350px;
        height: 490px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 90px;
    }

    .img-mano {
        position: absolute;
        top: -24rem;
        left: 44.2rem;
        width: 700px;
    }

    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 49rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 24.8rem;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -7rem;
        left: -18em;
        width: 927px;
    }

    .mano {
        background-image: url('../images/sectionOne/Tarjeta_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
        top: 6rem;
        left: -13rem;

    }

    .img-tarjeta {
        position: absolute;
        top: -4rem;
        left: -53.5rem;
        width: 620px;
    }


    .img-chat {
        position: relative;
        top: 0.5rem;
        left: 5rem;
        width: 968px;
    }

    .img-icono-mano {
        position: relative;
        top: -12rem;
        left: 55rem;
        width: 120px;
    }

    .positionbtnNo {
        position: absolute;
        top: 3rem;
        left: 2rem;
        width: 224px;
        height: 70px;
    }


    .positionbtnSi {
        position: absolute;
        top: 3rem;
        left: 7rem;
        width: 224px;
        height: 70px;
    }
}

@media (max-width:1680px) {
    .bg-sectionFour {
        background-image: url('../images/sectionFor/Sección_4.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 53rem;
        margin-top: -7rem;
    }
    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }


    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }

    .contenedor1 {
        width: 350px;
        height: 350px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 90px;
    }

    .img-mano {
        position: absolute;
        top: -24rem;
        left: 44.2rem;
        width: 700px;
    }

    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 24.8rem;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -6rem;
        left: 18em;
        width: 780px;
    }

    .container_one {
        max-width: 1440px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .contenedorOne {
        height: 500px;
    }

    .mano {
        background-image: url('../images/sectionOne/Tarjeta_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
    }


    .img-tarjeta {
        position: absolute;
        top: -4rem;
        left: -53.5rem;
        width: 620px;
    }



    .img-chat {
        position: relative;
        top: 0.5rem;
        left: 5rem;
        width: 968px;
    }

    .img-icono-mano {
        position: relative;
        top: -12rem;
        left: 55rem;
        width: 120px;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 2rem;
        width: 224px;
        height: 70px;
    }


    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 6rem;
        width: 224px;
        height: 70px;
    }
}

@media(max-width:1440px) {
    .bg-sectionFour {
        background-image: url('../images/sectionFor/Sección_4.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 46rem;
        margin-top: -7rem;
    }
    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }

    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }

    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
    }

    .mano {
        background-image: url('../images/sectionOne/Tarjeta_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 24.8rem;
    }

    .img-mano {
        position: absolute;
        top: -20rem;
        left: 40.9rem;
        width: 620px;
    }

    .contenedor1 {
        height: 400px;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -5rem;
        left: 18em;
        width: 649px;
    }

    .img-tarjeta {
        position: relative;
        top: -1rem;
        left: -39.5rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 29.8rem;
    }

    .bg-sectionthree {
        height: 54rem;
    }

    .img-chat {
        position: relative;
        top: 0.5rem;
        left: 5rem;
        width: 968px;
    }

    .img-icono-mano {
        position: relative;
        top: -12rem;
        left: 55rem;
        width: 120px;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 2rem;
        width: 224px;
        height: 70px;
    }


    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 6rem;
        width: 224px;
        height: 70px;
    }
}

@media(max-width:1366px) {
    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }

    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }
    .bg-sectionFour {
        background-image: url(../images/sectionFor/Sección_4.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 45rem;
        margin-top: -7rem;
    }
    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 42rem;
    }

    .img-mano {
        position: absolute;
        top: -22rem;
        left: 42.4rem;
        width: 560px;
    }

    .img-tarjeta {
        position: relative;
        top: 3rem;
        left: -38.2rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 25.8rem;
    }

    .bg-sectionthree {
        height: 52rem;
    }

    .img-chat {
        position: absolute;
        top: -0.5rem;
        left: 3rem;
        width: 972px;
    }
    .img-icono-mano {
        position: relative;
        top: 8rem;
        left: 54rem;
        width: 127px;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 2rem;
        width: 224px;
        height: 70px;
    }


    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 6rem;
        width: 224px;
        height: 70px;
    }

    
}

@media(max-width:1280px) {
    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }

    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 2rem;
        width: 224px;
        height: 70px;
    }

    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 6rem;
        width: 224px;
        height: 70px;
    }

    .img-mano {
        /*  position: absolute;
        top: 7rem;
        left: -12.6rem;
        width: 560px; */

        position: absolute;
        top: -19rem;
        left: 40.3rem;
        width: 520px;
    }

    /* F */
    .text-xxs {
        font-size: 1.32rem;
    }

    /* F */
    .text-xx {
        font-size: 1.13rem;
    }

    .contenedor1 {
        height: 400px;
    }

    .img-tarjeta {
        position: relative;
        top: 4rem;
        left: -28.2rem;

    }

    .img-chat {
        position: relative;
        top: 2.5rem;
        left: 6rem;
        width: 800px;
    }

    .img-icono-mano {
        position: relative;
        top: -9rem;
        left: 39rem;
        width: 120px;
    }

}

@media(max-width:1024px) {
    .bg-sectionFour {
        background-image: url('../images/sectionFor/Sección_4.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 53rem;
        margin-top: -7rem;
    }
    .contenedor2 {
        width: 614px;
        height: 397px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }

    .botonCategorias {
        font-size: 0.9rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }

    /* F */
    .line-normal3 {
        line-height: 3rem;
    }

    .text-vi {
        font-size: 2.9rem;
    }

    .text-xxs {
        font-size: 1.12rem;
    }

    .text-xx {
        font-size: 1.33rem;
    }

    .img-mano {
        position: absolute;
        top: 9rem;
        left: -7.2rem;
        width: 470px;
    }

    .contenedor1 {
        height: 400px;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 2rem;
        width: 199px;
        height: 70px;
    }


    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 3rem;
        width: 200px;
        height: 70px;
    }

    .img-tarjeta {
        position: relative;
        top: 7rem;
        left: -28.2rem;
        height: 19rem;

    }

    .positionForm {
        position: relative;
        top: 1rem;
        left: 24rem;
    }

    .img-chat {
        position: relative;
        top: 2.5rem;
        left: 4rem;
        width: 800px;
    }

    .img-icono-mano {
        position: relative;
        top: -9rem;
        left: 46rem;
        width: 120px;
    }
}

@media (max-width: 990px) { 

    .text-xx {
        font-size: 1.43rem;
    }

    .img-mano {
        position: absolute;
        top: 7rem;
        left: 3rem;
        width: 620px;
    }
    .bg-sectionFour {
        background-image: url('../images/sectionFor/Sección_4.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 53rem;
        margin-top: -7rem;
    }
    .bg-section_One {
        background-image: url(../images/sectionOne/Fondo_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 66rem;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
        left: 18em;
        width: 780px;
    }

    .img-tarjeta {
        position: relative;
        top: 0rem;
        left: -10.2rem;
    }

    .positionForm {
        position: relative;
        top: 0rem;
        left: 1.8rem;
    }

    .positionbtnNo {
        position: absolute;
        top: 0rem;
        left: 6rem;
        width: 234px;
        height: 70px;
    }

    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 3rem;
        width: 234px;
        height: 70px;
    }

    .bg-sectionthree {
        height: 85rem;
    }

    .img-chat {
        position: relative;
        top: 2.5rem;
        left: -4rem;
        width: 819px;
    }

    .img-icono-mano {
        position: relative;
        top: -9rem;
        left: 39rem;
        width: 120px;
    }

    .botonCategorias {
        font-size: 2.5rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }
}

@media (max-width: 640px) {
    .text-xx {
        font-size: 1.43rem;
    }

    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 70rem;
    }

    .img-mano {
        position: absolute;
        top: 7rem;
        left: 7rem;
        width: 620px;
    }

    .fondoSeccion2 {
        background-image: url('../images/sectionTwo/Asi_de_Facil.png');
        background-size: 100% 200px;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-section_One {
        background-image: url(../images/sectionOne/Fondo_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 49rem;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
        left: 18em;
        width: 780px;
    }

    .img-chat {
        position: relative;
        top: 2.5rem;
        left: 6rem;
        width: 800px;
    }

    .img-icono-mano {
        position: relative;
        top: -9rem;
        left: 39rem;
        width: 120px;
    }

    .positionSignoOut {
        position: absolute;
        top: 9rem;
        left: 26.5rem;
        transform: rotate(15deg);
    }

    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 3rem;
        width: 200px;
        height: 70px;
    }

    .botonCategorias {
        font-size: 2.5rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }
}

@media (max-width: 480px) {
    .text-xx {
        font-size: 1.43rem;
    }

    .bg-section_One {
        background-image: url('../images/sectionOne/Fondo_1.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 70rem;
    }

    .img-mano {
        position: absolute;
        top: 7rem;
        left: 7rem;
        width: 620px;
    }

    .img-titulo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1rem;
        left: 18em;
        width: 780px;
    }

    /* ***** */
    .contenedor1 {
        height: 400px;
    }

    .fondoSeccion2 {
        background-image: url('../images/sectionTwo/Asi_de_Facil.png');
        background-size: 100% 200px;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    .positionSignoOut {
        position: absolute;
        top: 9rem;
        left: 26.5rem;
        transform: rotate(15deg);
    }

    .positionbtnSi {
        position: absolute;
        top: 0rem;
        left: 3rem;
        width: 200px;
        height: 70px;
    }

    .img-chat {
        position: relative;
        top: 2.5rem;
        left: 6rem;
        width: 800px;
    }

    .img-icono-mano {
        position: relative;
        top: -9rem;
        left: 39rem;
        width: 120px;
    }

    .contenedor2 {
        width: 796px;
        height: 393px;
        border: 4px solid #fdfbfbf5;
        background: rgba(250, 248, 248, 0.301);
        border-radius: 26px;
        top: 0px;
        position: relative;
        left: -5rem;
    }

    .text-xx {
        font-size: 1.53rem;
    }

    .botonCategorias {
        font-size: 2.5rem;
        font-family: 'Museo700';
        color: white;
        width: 95%;
        background-color: rgb(255, 255, 255, 0.3);
        margin-right: 25px;
        border: none;
        border: 4px solid white;
        border-radius: 40px 40px 0px 40px;
    }
}

@media (max-width: 425px) {}

@media (max-width: 414px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

/**SECCION 1**/
/* .bg-section_One {
    background-image: url('../images/sectionOne/Fondo_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 49rem;
} */

/**SECCION 2**/
.bg-sectionTwo {
    background-image: url('../images/sectionTwo/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* SECCION 3 */
.bg-sectionthree {
    background-image: url('../images/sectionThree/Fondo_3.png');
    background-repeat: no-repeat;
    background-size: cover;

}

/* .bg-sectionFour {
    background-image: url('../images/sectionFor/Sección_4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 53rem;
    margin-top: -7rem;
} */

.bg-sectionFive {
    background-image: url('../images/sectionFive/Fondo_5.png');
    background-repeat: no-repeat;
    background-size: cover;
}




/* .img-titulo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -6rem;
    left: 18em;
    width: 780px;
} */

#imagenCategoriaSeccion {
    margin-top: 0.5rem;
    height: 400px
}

#imagencategoria {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
}

.botonesCategorias {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}



.botonCategorias:active, .botonCategorias:hover {
    background-color: rgb(253, 0, 35)
}

.AsiDeFacilText {
    height: fit-content;
    width: 85%;
    border: 6px solid transparent;
    background-color: rgb(250, 217, 0);
    border-radius: 60px 60px 60px 60px;
    font-family: 'Museo900';
    font-size: 25pt;
    text-align: center;
    line-height: 110%;
}

.fondoSeccion2 {
    background-image: url('../images/sectionTwo/Asi_de_Facil.png');
    background-size: 100% 200px;
    background-repeat: no-repeat;
    height: 200px;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}